<!DOCTYPE html>
<html lang=" ru">
<head>
	<meta charset="UTF-8">
	<title>Разделочная</title>
	<link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">
  <script src="Vue.js"></script>
</head>
<body>
  <div :class="getSampleClass()" class="sample" >
    <div class="start" v-if="flagGo == 0 && !flagSent">
      <h1 :class="getSampleClass()" id="welcome">Добро пожаловать</h1>
      <button id="sett" :class="getSampleClass()" @click="flagSent = !flagSent">Настройки</button>
      <button id="start" :class="getSampleClass()" @click="goOn(1)">Старт</button>
    </div>


    <div class="members" v-if="flagGo == 1 && !flagSent" >
      <button id="sett" :class="getSampleClass()" @click="flagSent = !flagSent">Настройки</button>
      <h1 :class="getSampleClass()">Добавьте пользователей</h1>
      <div class="input-buttons-container">
        <button :class="getSampleClass()" @click="addMember">Добавить человека</button>
        <button :class="getSampleClass()"v-if="guests.length > 1" @click="goOn(2)">Добавить еду</button>
      </div>
        <h2 for="text" v-for="(guest, index) in guests">
        <div class="input-buttons-container">
          <input :class="getSampleClass()" type="text" v-model="guests[index]" @input="validateText($event, index)">
          <button :class="getSampleClass()" @click="delGuest(index)">x</button>
        </div>
      </h2>
    </div>


    <div class="food" v-if="flagGo == 2 && !flagSent" >
      <button id="sett" :class="getSampleClass()" @click="flagSent = !flagSent">Настройки</button>
      <div class="input-buttons-container">
        <button :class="getSampleClass()" @click="goOn(1)">Добавить человека</button>
        <button :class="getSampleClass()" @click="addFood">Добавить еду</button>
      </div>
      <h2 for="text" v-for="(oneEat, indexFood) in foods">
        <div class="input-buttons-container">
          <input :class="getSampleClass()" type="text" v-model="foods[indexFood]" @input="validateFoodsText($event, indexFood)">
          <input :class="getSampleClass()" type="text" v-model="prices[indexFood]" @input="validateNumber($event, indexFood)">
          <button :class="getSampleClass()" @click="delFood(indexFood)">x</button>
          <button :class="getSampleClass()" @click="addPersonButtons(indexFood)">+</button>
        </div>
        <p :class="getSampleClass()">Блюдо заказал</p>
        <select :class="getSampleClass()" v-model="selectedBuyMan[indexFood]">
          <option v-for="(guest, indexGuest) in guests" >
            {{ guest }}
          </option>
        </select>
        <div v-if="personButtons[indexFood] && marksForPersonButtons[indexFood]">
          <h5 :class="getSampleClass()">Выберите кушателей:</h5>
          <button :class="getSampleClass()" v-for="(guest, indexGuest) in guests" @click="addButtFoodGuest(indexFood, indexGuest)">
            <div >
              {{ guests[indexGuest][0]}}
            </div>
          </button>
        </div>
      </h2>
      <button :class="getSampleClass()" v-if="foods.length != 0" @click="goOn(3), counting()"> Подвести итог</button>
    </div>


    <div class="results" v-if="flagGo == 3 && !flagSent" >
      <h1 :class="getSampleClass()">Итоги застолья</h1>
      <button id="sett" :class="getSampleClass()" @click="flagSent = !flagSent">Настройки</button>
      <div class="input-buttons-container">
        <button :class="getSampleClass()" @click="goOn(1)">Добавить человека</button>
        <button :class="getSampleClass()" @click="goOn(2)">Добавить еду</button>
      </div>
      <h1 :class="getSampleClass()">Кто кому должен</h1>
      <table class="fullTable">
        <tr v-for="(fiLis, indexFood) in finalList">
          <td> {{ fiLis[0][0] }} должен</td>
          <td>
            <table class="fullTable2" v-for="(fLi, indexFood2) in fiLis">
              <tr>
                <td>{{ fLi[1] }}</td>
                <td v-if="fLi[2] != ''"> в количестве {{ fLi[2] }}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <h1 :class="getSampleClass()">Кому кто должен</h1>
      <table class="fullTable">
        <tr v-for="(fiLi, indexFood) in finalList2">
          <td> {{ fiLi[0][0] }} должны</td>
          <td>
            <table class="fullTable2" v-for="(fLi, indexFood2) in fiLi">
              <tr>
                <td v-if="fLi[1] != 'никому'">{{ fLi[1] }}</td>
                <td v-if="fLi[2] != ''"> в количестве {{ fLi[2] }}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>


    <div class="settings" v-if="flagSent">
      <button id="return" :class="getSampleClass()" @click="flagSent = !flagSent">Назад</button>
      <h1 :class="getSampleClass()" id="word-sett">Настройки</h1>
      <button :class="getSampleClass()" @click="toggleStyle(1)">Стиль1</button>
      <button :class="getSampleClass()" @click="toggleStyle(2)">Стиль2</button>
      <button :class="getSampleClass()" @click="toggleStyle(3)">Стиль3</button>

      <div class="input-buttons-container">
        <audio id="audio" src="muzhell.mp3" preload="auto"></audio>
        <button id="music" :class="getSampleClass()" @click="toggleAudio">Музыка</button>
        <input id="sound" type="range" name="foo" @input="changeVolume">
      </div>
      <output for="foo" id="volume-output" onforminput="value = foo.valueAsNumber;"></output>
    </div>
  </div>

	<script src="script.js"></script>
</body>
</html>
